.body-container-of-alarms{
    position: relative;
    background:white;
    height: 320px;
    
}
.WorldClock, .Alarms, .StopWatch, .Timers{
    position: absolute;
    width: 100%;
    height: 320px;
}
.StopWatch{
   background-color: black;
}